* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-background: blue;
    --cor-principal: yellow;
    --cor-hover: rgb(233, 122, 44);
}

nav {
    background-color: var(--cor-background);
}

nav ul {
    display: flex;
    max-width: 800px;
    margin: auto;
    /* background-color: var(--cor-background); */
    /* background-color: purple */
}

nav ul li {
    position: relative;
    /* display: inline-block; */
    display: inline;
}

ol, ul {
    list-style-type: none;
}

nav ul li a {
    /* display: block; */
    /* display: inline-block; */
    display: flex;
    padding: 10px;
    color: var(--cor-principal);
    text-decoration: none;
    transition: .6s;
    background-color: var(--cor-background);    
}

nav ul li a:hover {
    background-color: var(--cor-hover);
    transition: .6s;
}

/* nav ul li:nth-child(6) a {
    float: right;
    background-color: chocolate;
} */

#Entrar {
    position: relative;
    left: 30%;
    float: right;
}

/* nav ul:last-child {
    background-color: var(--cor-background);
} */

/* Submenu */

nav ul ul {
    display: none;
    position: absolute;
    /* width: 150px; */
    /* top: 28px; */
    left: 0;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
}