* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-background: rgb(231, 134, 7);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-azul: rgb(0, 0, 255);
    --cor-preto: rgb(0, 0, 0);
    --cor-laranja-claro: rgb(255, 235, 205);
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--cor-background);
}

header {
    height: 150px;
    width: 1024px;
    margin: auto;
    position: relative;
    background-color: var(--cor-background);  
}

#Logo {
    position: absolute;
    left: 0;
    height: 90px;
    width: 90px;
    top: 11px;
}

header nav {
    width: 1024px;
    position: absolute;
    bottom: 0px;

}

header nav ul li {
    display: inline-block;
}


main {
    width: 1024px;
    margin: auto;
    text-align: justify;
    background-color: var(--cor-secundaria);
    padding: 20px;
    position: relative;
}

.diferenciado {
    font-family: Roboto, sans-serif;
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
    color: rgb(0, 0, 255);
}

.AjusteOne {
    width: 75%;
}

h2 {
    font-size: 40px;
}


p {
    text-indent: 50px;
}

.DivisãoColuna {
    float: left;
    width: 40%;
}

.limpaFloat {
    clear: both;
}

.vermelho {
    color: red;
}

blockquote {
    padding: 10px;
    float: left;
    width: 30%;
    background-color: rgb(206, 202, 202);
    border: 10px solid #7a7a7a;
    display: block;
    margin: 0 5%;       
}

cite {
    display: block;
    margin: 15px 5px 3px 0;
    line-height: 20px;
    text-align: right;
}

aside {
    width: 18%;
    margin: auto;
    position: relative;
    bottom: 34px;
    right: 20px;
    clear: right;
    /*background-color: var(--cor-secundaria);*/
}

aside, figure {
    float: right;
    background-color: #7a7a7a;
    color: var(--cor-secundaria);
    border: 5px solid var(--cor-preto);
}

figure {
    width: 19.4%;
    position: absolute;
    top: 20px;
    right: 30px;
}

#nomeCliente {
    display: block;
    font-size: 18px;
    text-align: center;
}

img {
    width: 100%;
}

li {
    background-color: #7a7a7a;
    /*list-style-type: none;
    display: block;
    /*padding: 10px;*/
}

ul, ol {
    list-style: none;
    /*list-style-type: none; específico*/
    background-color: #7a7a7a;
}

nav ul li a {
    display: block;
    color: var(--cor-secundaria);
    padding: 10px;
    text-decoration: none;
    text-transform: bold;
    text-align: center;
}

nav li a:hover {
    display: block;
    background-color: var(--cor-background);
    text-transform: bold;
    transition: .6s;
}

.Icones-Redes li {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 10px;
    /*position: relative;
    left: 22px;
    padding: 0 6px;
    width: 40px;
    height: 40px;*/     
}

.Icones-Redes a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999px;
    display: inline-block;
    /*font-size: 0;*/
    /*color: transparent;*/
}

.Git {
    background-image: url(../img/github.png);   
}

.Twi {
    background-image: url(../img/twitter.png);
}

.Lin {
    background-image: url(../img/linkedin.png);
}

footer {
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: blanchedalmond;
    clear: both;/*left right both*/
    text-align: center;
}



